<link
  rel="import"
  href="../../../bower_components/polymer/polymer-element.html"
/>

<dom-module id="panel-app">
  <template>
    <style>
      :host {
        background: transparent;
      }
      .titlec {
        text-align: "justify";
        color: rgb(10, 10, 10);
      }
      .contentPanel {
        width: 100%;
        height: 80vh;
      }
    </style>
    <div class="titleC"><p>[[titlePanel]]</p></div>
  </template>
  <script>
    class PanelApp extends Polymer.Element {
      static get is() {
        return "panel-app";
      }

      static get properties() {
        return {
          titlePanel: {
            type: String
          }
        };
      }

      printTitlePanel() {
        console.log(this.titlePanel);
      }
    }
    customElements.define(PanelApp.is, PanelApp);
  </script>
</dom-module>
