<link
  rel="import"
  href="../../../bower_components/polymer/polymer-element.html"
/>

<dom-module>
  <template>
    <style>
      :host {
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- Component Body Here -->
    <div></div>
  </template>
  <script>
    class PersonContact extends Polymer.Element {
      static get is() {
        return "person-contact";
      }

      connectedCallback() {
        super.connectedCallback();
        console.log("Connected Callback");
      }
    }

    customElements.define(PersonContact.is, PersonContact);
  </script>
</dom-module>
